:host {
    display: block;
    height: 100%;
}

ub-movie-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 412px;
    height: 100%;
    max-height: 100vh;
    overflow: auto;
}

ub-search-input {
    position: absolute;
    width: 392px;
    top: 10px;
    left: 10px;

    &.with-shadow {
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    }
}
